﻿@{
    Layout = null; //Для представленна не успольуеться мастер страницы
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Style.css")" rel="stylesheet" type="text/css" />
</head>
<div class="container">
    
    <div class="table">
        <div class="col">
            <div class="c_title_id"><p> c_id</p></div>
            <div class="c_title_name"><p> c_name</p></div>
        </div>
        @foreach (var city in ViewBag.cities)
        {
            <div class="col">
                <div class="c_id"> <p> @city.c_id</p></div>
                <div class="c_name"> <p> @city.c_name</p></div>
            </div>
        }
    </div>

    <div class="table">
        <div class="col">
            <div class="c_title_id"><p> c_id</p></div>
            <div class="c_title_name"><p> c_name</p></div>
        </div>
        @foreach (var city in ViewBag.cities)
        {
            if (city.c_id != 1)
            {
                <div class="col">
                    <div class="c_id"><p> @city.c_id</p></div>
                    <div class="c_name"> <p> @city.c_name</p></div>
                </div>
            }
        }
    </div>


</div>


</body>
</html>