﻿* {
    font-family: indie-flower, sans-serif;
    font-style: normal;
}


.container {
    display: flex;
}

.table {
    border: 1px solid black;
}

.col {
    display: flex;
    border-bottom: 1px solid black;
    align-content:center;
}


p {
    margin-right: 15px;
}

.c_name{
    margin-left:23px;
    border-left: 1px solid black;
}
.c_title_name {
    border-left: 1px solid black;
    font-weight: bold;
}
.c_title_id {
    font-weight: bold;
}
